NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_CHAIN_NAME=Base Sepolia
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_BLOCK_EXPLORER_BASE_URL=https://sepolia-explorer.base.org
NEXT_PUBLIC_CARBON_CREDIT_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_ADDRESS=
NEXT_PUBLIC_RETIREMENT_AGENT_ADDRESS=
NEXT_PUBLIC_SETTLEMENT_TOKEN_ADDRESS=
